[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
  editor = vim
[user]
  name = Egill Sveinbjörnsson
  email = egillsveinbjorns@gmail.com
  signingkey = 63BBAE68
[commit]
  gpgsign = true
[push]
  default = matching
[credential]
  helper = cache
[grep]
  extendRegexp = true
  lineNumber = true
[alias]
  g = grep --break --heading --line-number
  co = checkout
  b = branch
  nb = checkout -b

  lg = !"git lg1"
  lg1 = !"git lg1-specific --all"
  lg2 = !"git lg2-specific --all"
  lg3 = !"git lg3-specific --all"

  lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
  lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

  quicklog = log --pretty=format:'%Cblue%h %Cred%cD %Creset%cn %Cgreen%s%Creset' --date-order --graph
  changes = log --oneline --decorate
  changelog = show --name-only
# [url "git@github.com:qlik-trial"]
#   insteadOf = https://github.com/qlik-trial
[apply]
  whitespace = nowarn
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[gpg]
  program = /usr/local/MacGPG2/bin/gpg2
[includeIf "gitdir:~/git/vizlib/"]
  path = ~/.gitconfig-work
